table,th,td{
    border: 1px solid azure;
    border-color: green;
    border-width: thick;

}
th{
    background-color: orange;
}
table{
    width: 100%;
    height: 200px;
}
.heading1{
    background-color: orange;
}
td{
    text-align: center;
}